* {
    font-family: "Bitcount Single Ink", system-ui;
    font-style: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    background: linear-gradient(90deg, #250397, #1a0242);
    color: white;
    padding: 10px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}