{% extends 'base.html' %}
{% block title %}Gestión de Tecnicos{% endblock %}
{% block content %}
    <div class="container mt-4">
    <h1>Gestión de Tecnicos</h1>
    <p>Aquí puedes gestionar la información de tus tecnicos, incluyendo agregar nuevos tecnicos, editar detalles existentes y eliminar tecnicos que ya no sean necesarios.</p>
    <div class="row">
        {% for tecnico in tecnicos %}
        <div class="col-md-4 col-sm-6 mb-4">
            <div class="card shadow-sm h-100 bg-info-subtle text-info-emphasis">
                <div class="card-body">
                    <h5 class="card-title text-primary">
                        {{ tecnico.apellido }} {{ tecnico.nombre }}
                    </h5>
                    <p class="card-text mb-1">
                        <strong>Telefono:</strong> {{ tecnico.telefono }}
                    </p>
                    <p class="card-text">
                        <strong>Especialidad:</strong> {{ tecnico.especialidad }}
                    </p>
                </div>
            </div>
        </div>
        {% empty %}
        <p class="text-muted text-center">No hay tecnicos registrados.</p>
        {% endfor %}
    </div>
    </div>
{% endblock %}
